<h1>Where did I leave off today?</h1>

<div id="taskList"><%
  writeNodes(taskItems);%>
</div>

<form class="new">
  <input type="text" name="contents" placeholder="Task" >
</form>

<%
function writeNodes(nodes){
  for (var i = 0; i < nodes.length; i++){
    var node = nodes[i];%>
    <div class="item"><%= node.contents %></div><%
    if (node.children && node.children.length > 0){%>
      <div class="children"><%
        writeNodes(node.children);%>
      </div><%
    }
  }
}%>