<h1>Where did I leave off today?</h1>

<div id="taskList" class="item taskList"></div>

<form class="new">
  <input type="text" name="contents" placeholder="New Task" >
</form>

<script>
  var preload_taskItems = <%- JSON.stringify(taskItems) %>;
</script>